<h3 class="ui header">Tanque: {{tank}}</h3>

<table class="ui celled structured table">
  <thead>
    <tr>
      <th rowspan="2">Ubicación</th>
      <th rowspan="2">Fecha</th>
      <th rowspan="2">Ingreso/Egreso</th>
      <th colspan="3">Información</th>
    </tr>
    <tr>
      <th>Peso (Toneladas)</th>
      <th>Contenido (litros)</th>
      <th>Comentarios</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Patio</td>
      <td>03/01/2020</td>
      <td>Ingreso</td>
      <td>120</td>
      <td>8,000</td>
      <td>Llegada a Planta</td>
    </tr>
    <tr>
      <td>Patio</td>
      <td>05/01/2020</td>
      <td>Egreso</td>
      <td>120</td>
      <td>8,000</td>
      <td>Se meuve a vaciado</td>
    </tr>
    <tr>
      <td>Vaciado</td>
      <td>05/01/2020</td>
      <td>Ingreso</td>
      <td>120</td>
      <td>8,000</td>
      <td>Ingreso a Vaciado</td>
    </tr>
    <tr>
      <td>Vaciado</td>
      <td>06/01/2020</td>
      <td>Egreso</td>
      <td>70</td>
      <td>4,700</td>
      <td>Se traslada a Mantenimeinto</td>
    </tr>
    <tr>
      <td>Mantenimeinto</td>
      <td>06/01/2020</td>
      <td>Ingreso</td>
      <td>70</td>
      <td>4,700</td>
      <td>Ingreso a Mantenimeinto por revisión de válvula</td>
    </tr>
    <tr>
      <td>Mantenimeinto</td>
      <td>06/01/2020</td>
      <td>Egreso</td>
      <td>70</td>
      <td>4,700</td>
      <td>Egreso de Mantenimeinto</td>
    </tr>
    <tr>
      <td>Patio</td>
      <td>06/01/2020</td>
      <td>Ingreso</td>
      <td>70</td>
      <td>4,700</td>
      <td>Se mueve en espera de llevarse a Vaciado</td>
    </tr>
  </tbody>
</table>

<div class="ui segment center aligned">
  <div class="inline">
    <div class="ui primary button" [routerLink]="updateAddress">Actulizar Información</div>
    <div class="ui red button"  [routerLink]="exitAddress">Dar Salida al Tanque</div>
  </div>
</div>
  