<h3 class="ui header">Tanque: {{tank}}</h3>

<!-- Información actual del tanque -->
<table class="ui celled structured table">
  <thead>
    <th>ID Tanque</th>
    <th>Contenido</th>
    <th>Dueño</th>
    <th>Calidad</th>
    <th>Estado Valvula</th>
    <th>Peso Actual</th>
    <th>Fecha Esperada Retorno</th>
  </thead>
  <tbody>
    <!-- TODO: peticion de graphql
    <tr *ngFor="let tank of tanks">
      <td>{{tank.idTanque}}</td>
      <td>{{tank.contenido}}</td>
      <td>{{tank.dueno}}</td>
      <td>{{tank.calidad}}</td>
      <td>{{tank.estadoValvula}}</td>
      <td>{{tank.pesoActual}}</td>
      <td>{{tank.fechaEsperadaRetorno}}</td>
    </tr>  -->
  </tbody>
</table>
<!-- Información por decir de historial del tanque -->
<table class="ui celled structured table">
  <thead>
    <th>Fecha</th>
    <th>Lugar</th>
    <th>Peso</th>
    <th>Operado por</th>
  </thead>
  <tbody>
    <!-- TODO: peticion de graphql -->
    <!-- <tr *ngFor="let historial of historial">
      <td>{{historial.fecha}}</td>
      <td>{{historial.lugar}}</td>
      <td>{{historial.peso}}</td>
      <td>{{historial.operador}}</td>
    </tr> -->
  </tbody>
</table>

<div class="ui segment center aligned">
  <div class="inline">
    <div class="ui primary button" [routerLink]="updateAddress">Actulizar Información</div>
    <div class="ui red button"  [routerLink]="exitAddress">Dar Salida al Tanque</div>
  </div>
</div>
  