<h3 class="ui header">Tanque: {{tank}}</h3>

<!-- Información actual del tanque -->
<table class="ui celled structured table">
  <thead>
    <th>ID Tanque</th>
    <th>Contenido</th>
    <th>Dueño</th>
    <th>Calidad</th>
    <th>Estado Valvula</th>
    <th>Peso Actual</th>
    <th>Fecha Ingreso</th>
    <th>Fecha Esperada Retorno</th>
    <th>Observaciones</th>
  </thead>
  <tbody>
    <tr>
      <td>{{tank}}</td>
      <td>{{tankInfo.contenidoTanque.contenido ? tankInfo.contenidoTanque.contenido : '-'}}</td>
      <td>{{tankInfo.dueno.nombre}}</td>
      <td>{{tankInfo.calidad}}</td>
      <td>{{tankInfo.estadoValvula}}</td>
      <td>{{tankInfo.pesoActual}}</td>
      <td>{{tankInfo.fechaIngreso | date}}</td>
      <td>{{tankInfo.fechaEsperadaRetorno | date}}</td>
      <td>{{tankInfo.observaciones}}</td>
    </tr>
  </tbody>
</table>
<br>
<!-- Información por decir de historial del tanque -->
<div class="ui two column stackable center aligned grid">
  <div class="column">
    <h4 class="ui header">Historial de Peso</h4>
    <table class="column ui celled structured table">
      <thead>
        <th>Fecha</th>
        <th>Peso</th>
      </thead>
      <tbody>
        <!-- TODO: peticion de graphql Revisar cuando se actualice el servidor -->
        <tr *ngFor="let value of tankWeight">
          <td>{{value.fecha}}</td>
          <td>{{value.peso}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <h4 class="ui header">Historial de Ubicaciones</h4>
    <table class="column ui celled structured table">
      <thead>
        <th>Fecha</th>
        <th>Lugar</th>
      </thead>
      <tbody>
        <!-- TODO: peticion de graphql -->
        <tr *ngFor="let location of locations">
          <td>{{location.fecha}}</td>
          <td>{{location.lugar}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ui segment center aligned">
  <div class="inline">
    <div class="ui primary button" [routerLink]="updateAddress">Modificar Información</div>
    <div class="ui red button"  [routerLink]="exitAddress">Desvincular Etiqueta RFID</div>
  </div>
</div>
