<h3 class="ui header">Usuarios</h3>

<table class="ui table">
  <thead>
    <tr class="ui table header">
      <th>ID Usuario</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <a routerLink="/admin/user/{{user.idUsuario}}/edit">
          {{user.idUsuario}}
        </a>
      </td>
      <td>{{user.nombre}}</td>
      <td>{{user.apellidos}}</td>
      <td>{{user.correo}}</td>
      <td><button class="ui fluid primary button" routerLink="/admin/user/{{user.idUsuario}}/edit">Editar</button></td>
    </tr>
  </tbody>
</table>
