<div class="pseudoBody">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui blue image header">
        <!--<img src="assets/images/logo.png" class="image">-->
        <div class="content loginColor">
          Inicia Sesión
        </div>
      </h2>
      <div class="ui error message" *ngIf="error">
        <div class="header">{{error}}</div>
      </div>
      <form class="ui large form" (ngSubmit)="onSubmit()">
        <div class="ui basic segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="E-mail address" [(ngModel)]="usuario.correo">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password" [(ngModel)]="usuario.contrasena">
            </div>
          </div>
          
          <button class="ui fluid green button" type="submit" >Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>

</div>
