<h3 class="ui title" *ngIf="id">Modificar {{id}}</h3>
<h3 class="ui title" *ngIf="!id">Agregar un Lugar</h3>

<form class="ui form">
  <h4 class="ui dividing header">Información del lugar</h4>
    <div class="two fields">
        <div class="required field">
            <label>Nombre</label>
            <div class="field">
              <input type="text" name="lnombre" [(ngModel)]="lugar.lnombre">
            </div>
        </div>
    </div>

    <div class="two fields"> 
        <div class="required field">
            <label>Radio</label>
            <div class="field">
              <input type="text" name="radio" [(ngModel)]="lugar.radio">
            </div>
        </div>
        <div class="required field">
          <label>Capacidad</label>
          <div class="field">
            <input type="text" name="capacidadMaxima" [(ngModel)]="lugar.capacidadMaxima">
          </div>
        </div>
    </div>
    <h4 class="ui dividing header">Coordenadas del lugar</h4>
    <div class="two fields">
        <div class="required field">
          <label>X</label>
          <div class="field">
            <input type="text" name="x" [(ngModel)]="lugar.coordenadas.x">
          </div>
        </div>
        <div class="required field">
          <label>Y</label>
          <div class="field">
            <input type="text" name="y" [(ngModel)]="lugar.coordenadas.y">
          </div>
        </div>
    </div>
    <div class="ui submit primary button" routerLink="/admin/locations">Guardar</div>
  </form>

