<h3 class="ui title" *ngIf="id">Modificar {{id}}</h3>
<h3 class="ui title" *ngIf="!id">Agregar un Lugar</h3>

<div class="ui error message" *ngIf="error">
  <div class="header">{{error}}</div>
</div>

<form class="ui form" (ngSubmit)="submit()">
  <h4 class="ui dividing header">Información del lugar</h4>
    <div class="two fields">
        <div class="required field">
            <label>ID del Lugar</label>
            <div class="field">
              <input type="text" name="idLugar" maxlength="10" [class.ui]="id" [class.disabled]="id" [class.input]="id" [readOnly]="id"  [(ngModel)]="lugar.idLugar">
            </div>
        </div>
        <div class="required field">
          <label>Nombre</label>
          <div class="field">
            <input type="text" maxlength="50"  name="lnombre" [(ngModel)]="lugar.lnombre">
          </div>
      </div>
    </div>

    <div class="two fields">
        <div class="required field">
            <label>Radio</label>
            <div class="field">
              <input type="text" name="radio" [(ngModel)]="lugar.radio">
            </div>
        </div>
        <div class="required field">
          <label>Capacidad Máxima</label>
          <div class="field">
            <input type="text" name="capacidadMaxima" [(ngModel)]="lugar.capacidadMaxima">
          </div>
        </div>
    </div>
    <h4 class="ui dividing header">Coordenadas del lugar</h4>
    <div class="two fields">
        <div class="required field">
          <label>X</label>
          <div class="field">
            <input type="text" name="x" [(ngModel)]="lugar.coordenadas.x">
          </div>
        </div>
        <div class="required field">
          <label>Y</label>
          <div class="field">
            <input type="text" name="y" [(ngModel)]="lugar.coordenadas.y">
          </div>
        </div>
    </div>
    <button class="ui submit primary button">Guardar</button>
  </form>
