<h2 class="ui header center aligned">Bienvenido al inicio del Administrador</h2>

<div class="ui placeholder segment">
    <div class="ui two column stackable center aligned grid">
        <div class="ui vertical divider"> </div>
            <div class="middle aligned row">
                <div class="column">
                    <div class="ui icon header">
                        <i class="search icon"></i>
                        Busca un Usuario
                    </div>
                    <div class="field">
                        <div class="ui search">
                            <div class="ui icon input">
                                <input type="text" class="prompt" placeholder="Nombre de un usuario...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui icon header">
                        <i class="users icon"></i>
                        Agrega un Usuario
                      </div>
                      <div class="ui primary button" routerLink="/admin/users/add">
                        Agregar
                      </div>
                </div>
            </div>
        
    </div>
</div>
