<h2 class="ui header center aligned">Bienvenido al inicio del Administrador</h2>
<div class="ui placeholder segment">
    <div class="ui three column stackable center aligned grid">
        <div class="column">
            <div class="ui icon header">
                <i class="file alternate outline icon"></i>
                Reportes
            </div>
            <div class="ui primary button" routerLink="/admin/reports">Ver Reportes</div>
        </div>
        <div class="column">
            <div class="ui icon header">
                <i class="users icon"></i>
                Usuarios
            </div>
            <div class="ui two buttons">
                <div class="ui primary button" routerLink="/admin/users">Usuarios</div>
                <div class="ui primary button" routerLink="/admin/rfid-readers">Lectores</div>
            </div>
        </div>

        <div class="column">
            <div class="ui icon header">
                <i class="map marker alternate icon"></i>
                Lugares
            </div>
            <div class="ui primary button" routerLink="/admin/locations">Ver Lugares</div>
        </div>
    </div>
</div>
<div class="ui placeholder segment">
    <div class="ui three column stackable center aligned grid">
        <div class="column">
            <div class="ui icon header">
                <i class="plus icon"></i>
                Tanques
            </div>
            <div class="field">
                <div class="ui primary button" routerLink="/admin/owners">Ver Dueños</div>
            </div>
        </div>

        <div class="column">
            <div class="ui icon header">
                <i class="search icon"></i>
                Tipos de Contenidos
            </div>
            <div class="ui primary button" routerLink="/admin/contents">
                Ver Contenidos
            </div>
        </div>

        <div class="column">
            <div class="ui icon header">
                <i class="users icon"></i>
                Etiquetas de RFID
            </div>
            <div class="ui primary button" routerLink="/admin/rfid-tags">
                Ver Etiquetas
            </div>
        </div>
    </div>
</div>
<br>
