<h3 class="ui title">Agrega una etiqueta RFID</h3>
  <form class="ui form">
    <div class="two fields">
      <div class="field required">
        <label>ID Etiqueta</label>
        <div class="field">
          <div class="field">
            <input type="number" name="idEtiqueta" required placeholder="#">
          </div>
        </div>
      </div>
      <div class="field required">
        <label>Tanque a Asociar</label>
        <select name="idTanque" id="idTanque">
          <option value="null">No asociar</option>
          <option *ngFor="" value="null">No asociar</option>
        </select>
      </div>
    </div>
    <button class="ui submit primary button">Guardar</button>
  </form>
