<h2 class="ui title" *ngIf="id">Modificar Información de {{id}}</h2>
<h3 class="ui title" *ngIf="!id">Agregar un Usuario</h3>

<br>
<form class="ui form">
    <h4 class="ui dividing header">Información</h4>
    <div class="two fields">
      <div class="required field">
        <label>Nombre</label>
        <div class="two fields">
          <div class="field">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="user.nombre">
          </div>
          <div class="required field">
            <input type="text" name="apellidos" [(ngModel)]="user.apellidos" placeholder="Apellidos">
          </div>
        </div>
      </div>
      <div class="required field">
        <label>Correo</label>
        <div class="field">
          <input type="email" name="email" placeholder="correo" [(ngModel)]="user.correo">
        </div>
      </div>

    </div>
    <div class="required field">
      <label>Contraseña</label>
      <div class="ui icon input">
        <input type="password" [(ngModel)]="user.password">
        <i class="lock icon"></i>
      </div>
    </div>
    <div class="grouped fields required field">
      <div class="field">
        <label>Puesto</label>
        <select class="ui search dropdown" name="puesto" [(ngModel)]="user.puesto">
          <option value="">Puesto...</option>
          <option value="Operador">Operador</option>
          <option value="Supervisor">Supervisor</option>
          <option value="Admin">Admin</option>
        </select>
      </div>
    </div>
    <div class="field" *ngIf="user.puesto == 'Operador'">
      <label>Supervisor de este usuario</label>
      <select class="ui search dropdown"Operador [(ngModel)]="user.idSupervisor">
        <option value="">Supervisor...</option>
        <!-- TODDO: Agregar supervisor de graphql -->
        <!-- <option *ngFor="let valor of supervisor" value="{{supervisor.nombre}}">{{supervisor.nombre}}</option> -->
        <option value="Supervisor 1">Supervisor 1</option>
      </select>
    </div>

    <div class="ui error message">
      <div class="header">We noticed some issues</div>
    </div>
    <div class="ui submit primary button" routerLink="/admin/users">Actualizar Información</div>
  </form>