<h3 class="ui header">Lugares</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur cum cumque cupiditate dolorum eos error eum, excepturi facilis maiores nostrum nulla perspiciatis porro quas quis recusandae saepe sunt unde?</p>

<table class="ui table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>ID</th>
    <th>Radio</th>
    <th>Coordenadas</th>
    <th>Capacidad</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let place of places">
      <td>
        <a routerLink="/admin/locations/{{place.idLugar}}/edit">{{place.idLugar}}</a>
      </td>
      <td>{{place.lnombre}}</td>
      <td>{{place.radio}}</td>
      <td>{{place.coordenadas}}</td>
      <td>{{place.capacidadMaxima}}</td>
      <td>
        <div class="ui two buttons">
          <button class="ui blue button" routerLink="/admin/locations/{{place.idLugar}}/edit">Editar</button>
          <button class="ui red button">Eliminar</button>
        </div> 
      </td>
    </tr>
  </tbody>
</table>
