<h3 class="ui header">Lugares</h3>
<table class="ui table">
  <thead>
  <tr>
    <th>ID del Lugar</th>
    <th>Nombre</th>
    <th>Radio</th>
    <th>Capacidad</th>
    <th>Acción</th>
  </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let place of places">
      <td>
        <a routerLink="/admin/locations/{{place.idLugar}}/edit">{{place.idLugar}}</a>
      </td>
      <td>{{place.lnombre}}</td>
      <td>{{place.radio}}</td>
      <td>{{place.capacidadMaxima}}</td>
      <td>
        <div class="ui two buttons">
          <button class="ui blue button" routerLink="/admin/locations/{{place.idLugar}}/edit">Editar</button>
        </div> 
      </td>
    </tr>
  </tbody>
</table>
