<div class="ui right aligned grid">
    <div class="left floated left aligned six wide column">
        <h3 class="ui header">Etiquetas de RFID</h3>
    </div>
    <div class="right floated rigt aligned six wide column">
        <div class="ui two buttons">
            <button class="ui primary button" routerLink="/admin/rfid-tags/add">Registrar Nueva Etiqueta</button>
        </div>
    </div>
  </div>
<table class="ui table">
    <thead>
        <th>Número de Etiqueta</th>
        <th>Tanque Asociado</th>
        <th>Acción</th>
    </thead>
    <tbody>
        <tr *ngFor="let tag of tags">
            <td><a (click)="onTagSelect($event)" [id]="tag.idEtiqueta">{{tag.idEtiqueta}}</a></td>
            <td>
                <button (click)="selectTank(tag.idTanque)" [ngClass]="tag.idTanque ? 'ui button fluid':'ui disabled button fluid'">
                    {{tag.idTanque? tag.idTanque: 'Sin Asociar'}}
                </button>
            </td>
            <td><button [ngClass]="tag.idTanque ? 'ui red button fluid' : 'ui blue button fluid'">{{tag.idTanque? 'Desasociar': 'Asociar'}}</button></td>
        </tr>
    </tbody>
</table>
<br>
 