<h3 class="ui title">Registrar Nuevo Lugar</h3>
<br>
<form class="ui form">
    <h4 class="ui dividing header">Llena los siguientes campos:</h4>
    <div class="two fields">
      <div class="field">
        <label>Nombre</label>
        <div class="field">
          <div class="field">
            <input type="text" name="name">
          </div>
        </div>        
      </div>
      <div class="field">
        <label>Radio</label>
        <div class="field">
          <div class="field">
            <input type="text" name="radio">
          </div>
        </div>        
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Coordenadas</label>
        <div class="field">
          <div class="field">
            <input type="text" name="coordinates" placeholder="X,Y">
          </div>
        </div>        
      </div>
      <div class="field">
        <label>Capacidad máxima de tanques</label>
        <div class="field">
          <div class="field">
            <input type="text" name="capacity">
          </div>
        </div>        
      </div>   
    </div>
    
    <!-- 
    <div class="ui error message">
      <div class="header">We noticed some issues</div>
    </div>
    -->

    <br>
    <div class="ui submit button" routerLink="/admin/locations">Registrar</div>
 </form>