<div class="ui basic segment">
  <div class="ui secondary pointing menu">
    <a routerLink="/admin" class="item">Inicio</a>
    <a routerLink="/admin/users" class="item">Usuarios</a>
    <a routerLink="/admin/locations" class="item">Lugares</a>
    <a routerLink="/admin/reports/inventory" class="item">Tanques</a>
    <a routerLink="/admin/reports" class="item">Reportes</a>
    <a class="item floated right" routerLink="/login">Cerrar sesión</a>
  </div>
</div>

<div class="ui container">
  <router-outlet></router-outlet>
</div>
