<h3 class="ui title" *ngIf="id">Modificar {{id}}</h3>
<h3 class="ui title" *ngIf="!id">Agregar un nuevo Dueño</h3>

<div class="ui error message" *ngIf="error">
  <div class="header">{{error}}</div>
</div>

<form class="ui form" (ngSubmit)="submit()">
    <h4 class="ui dividing header">Información del Dueño</h4>
    <div class="two fields">
      <div class="field required">
        <label>ID del Dueño</label>
        <div class="field">
          <div class="field">
            <input maxlength="10" type="text" name="idDueno" required [(ngModel)]="owner.idDueno" placeholder="ID">
          </div>
        </div>
      </div>
      <div class="field required">
        <label>Nombre</label>
        <input maxlength="50" type="text" name="nombre" required [(ngModel)]="owner.nombre" placeholder="Nombre">
      </div>
    </div>
    <button class="ui submit primary button">Guardar</button>
</form>
