<h3 class="ui title">Registrar Nuevo Tanque</h3>
<br>
<form class="ui form">
    <h4 class="ui dividing header">Información del Tanque</h4>
    <div class="two fields">
      <div class="field">
        <label>ID</label>
        <div class="field">
          <div class="field">
            <input type="text" name="first-name" placeholder="CA###">
          </div>
        </div>        
      </div>
      <div class="field">
        <label>Contenido</label>
        <select class="ui search dropdown">
            <option value="">Contenido...</option>
            <option value="GF">Genetron Flush</option>
            <option value="G134a">Genetron 143a</option>
            <option value="G134aECO">Genetron 134a ECO</option>
            <option value="GMP39">Genetron MP39</option>
            <option value="S1234yf">Solstice 1234yf</option>
            <option value="G141b">Genetron 141b</option>
        </select>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Dueño del Tanque</label>
        <select class="ui search dropdown">
          <option value="">Dueño...</option>
          <option value="E1">Empresa 1</option>
          <option value="E2">Empresa 2</option>
          <option value="E3">Empresa 3</option>
        </select>
      </div>
      <div class="field">
        <label>Contendio (Litros)</label>
        <div class="ui input">
          <input type="text" placeholder="10,000">
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Información de Ingreso</h4>
    <div class="two fields">
        <div class="field">
            <label>Fecha de ingreso</label>
            <div class="ui input">
                <input type="date">
            </div>
        </div>
        <div class="field">
            <label>Fecha esperada de retorno</label>
            <div class="ui input">
                <input type="date">
            </div>
        </div>
    </div>
    <h4 class="ui top attached header">Comentarios adicionales</h4>
    <div class="ui bottom attached segment">
        <div class="field">
            <label>Comentarios</label>
            <textarea></textarea>
          </div>
    </div>
    <div class="ui error message">
      <div class="header">We noticed some issues</div>
    </div>
    <div class="ui submit button" routerLink="/operator/reports/inventory">Registrar</div>
  </form>