<h3 class="ui title" *ngIf="id">Actualizar tanque {{id}}</h3>
<h3 class="ui title" *ngIf="!id">Registrar Nuevo Tanque</h3>

<br>
<div class="ui error message" *ngIf="error">
  <div class="header">{{error}}</div>
</div>
<form class="ui form" #tanqueForm *ngIf="this.tanque">
    <h4 class="ui dividing header">Información del Tanque</h4>
    <div class="two fields">
      <div class="field">
        <label>ID</label>
        <div class="field">
          <div class="field">
            <input maxlength="10" [class.ui]="id" [class.disabled]="id" [class.input]="id" [readOnly]="id" type="text" name="id" required [(ngModel)]="tanque.id" placeholder="CA###">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Contenido</label>
        <select class="ui search dropdown" name="contenido" required [(ngModel)]="tanque.idContenido">
            <option value="">Contenido...</option>
            <option *ngFor="let valor of contenidos" value="{{valor.idContenido}}">{{valor.contenido}}</option>
        </select>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Dueño del Tanque</label>
        <select class="ui search dropdown" name="dueno" required [(ngModel)]="tanque.idDueno">
          <option value="">Dueño...</option>
          <option *ngFor="let valor of duenos" value="{{valor.idDueno}}">{{valor.nombre}}</option>
        </select>
      </div>
      <div class="field">
        <label>Contenido (Litros)</label>
        <div class="ui input">
          <input type="number" placeholder="10,000" name="cantidad" required [(ngModel)]="tanque.pesoActual">
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Información de Ingreso</h4>
    <div class="two fields">
        <div class="field">
            <label>Fecha de ingreso</label>
            <div class="ui input">
                <input type="date" name="fechaIngreso" required [(ngModel)]="tanque.fechaIngreso">
            </div>
        </div>
      <div class="field">
        <label>Fecha esperada de retorno</label>
        <div class="ui input">
          <input type="date" name="fechaRegreso" required [(ngModel)]="tanque.fechaEsperadaRetorno">
        </div>
      </div>
        <div class="field">
            <label>Calidad</label>
            <div class="ui input">
                <input type="text" placeholder="buena, mala..." name="calidad" required [(ngModel)]="tanque.calidad">
            </div>
        </div>
    </div>
    <div class="two fields">
      <div class="field">
          <label>Peso</label>
          <div class="ui input">
              <input type="number" name="peso" required [(ngModel)]="tanque.peso">
          </div>
      </div>
      <div class="field">
          <label>Etiqueta de RFID Asignada</label>
          <select class="ui search dropdown" name="etiqueta" required [(ngModel)]="tanque.idEtiqueta">
            <option value="">etiqueta...</option>
            <option *ngFor="let valor of etiquetas" value="{{valor}}">{{valor}}</option>
          </select>
      </div>
  </div>

  <div *ngIf="id" class="ui submit blue fluid button" (click)="onResgisterTank()">Actualizar info</div>


  <div *ngIf="!id">
    <div class="inline field">
      <label for="redirigir">No redirigir al crear nuevo tanque</label>
      <input id="redirigir" type="checkbox" tabindex="0" name="redirigir" [(ngModel)]="redirigir">
    </div>
    <br>
    <div class="ui submit green fluid button" (click)="onResgisterTank()">Registrar</div>
  </div>

  </form>
