<h3 class="ui title">Registrar Nuevo Tanque</h3>
<br>
<form class="ui form">
    <h4 class="ui dividing header">Información del Tanque</h4>
    <div class="two fields">
      <div class="field">
        <label>ID</label>
        <div class="field">
          <div class="field">
            <input type="text" name="first-name" placeholder="CA###">
          </div>
        </div>        
      </div>
      <div class="field">
        <label>Contenido</label>
        <select class="ui search dropdown">
            <option value="">Contenido...</option>
            <option *ngFor="let valor of contenidos" value="{{valor.contenido}}">{{valor.contenido}}</option>
        </select>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Dueño del Tanque</label>
        <select class="ui search dropdown">
          <option value="">Dueño...</option>
          <option *ngFor="let valor of duenos" value="{{valor.nombre}}">{{valor.nombre}}</option>
        </select>
      </div>
      <div class="field">
        <label>Contenido (Litros)</label>
        <div class="ui input">
          <input type="text" placeholder="10,000">
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Información de Ingreso</h4>
    <div class="two fields">
        <div class="field">
            <label>Fecha esperada de retorno</label>
            <div class="ui input">
                <input type="date">
            </div>
        </div>
        <div class="field">
            <label>Calidad</label>
            <div class="ui input">
                <input type="text" placeholder="buena, mala...">
            </div>
        </div>
    </div>
    <div class="two fields">
      <div class="field">
          <label>Peso</label>
          <div class="ui input">
              <input type="number">
          </div>
      </div>
      <div class="field">
          <label>Etiqueta de RFID Asignada</label>
          <select class="ui search dropdown">
            <option value="">etiqueta...</option>
            <option *ngFor="let valor of etiquetas" value="{{valor.idEtiqueta}}">{{valor.idEtiqueta}}</option>
          </select>
      </div>
  </div>
    
    <div class="ui error message">
      <div class="header">We noticed some issues</div>
    </div>
    <div class="ui submit button" (click)="onResgisterTank($event)">Registrar</div>
  </form>